:local(.area) {
  margin: 0 16px;
}
:local(.area + .area) {
  margin-top: 16px;
}
:local(.area:last-of-type) {
  margin-bottom: 8px;
}

:local(.label) {
  display: block;
}

:local(.title) {
  font-weight: normal;
  margin: 0 0 8px 0;
}

:local(.textarea) {
  border: 1px solid #cccccc;
  box-sizing: border-box;
  font-family: Inconsolata, Consolas, Monaco, Menlo, monospace;
  resize: vertical;
  width: 100%;
}
